<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.projet">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="BetterMe"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Projet"
        tools:targetApi="31">

        <!-- Launcher Activity -->
        <activity android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Other Activities -->
        <activity android:name=".entities.UserInfoActivity" />
        <activity android:name=".ui.CertSpecialityActivity" />
        <activity android:name=".ui.SmokingQuestionsActivity" />
        <activity android:name=".ui.DrinkingQuestionsActivity" />
        <activity android:name=".ui.WeightQuestionsActivity" />
        <activity android:name=".chat.GeneralChatActivity" />
        <activity android:name=".chat.PrivateChatActivity" />
        <activity android:name=".chat.BotChatActivity" />
    </application>

</manifest>
